<%- include("partials/header") -%>
    <div class="container">
<div class="text-right">
    <a href="/logoutAdmin"><button class="btn btn-success">Logout</button></a>
</div>
        <div class="table-responsive card m-2">
            <table class="table">
                <thead class="card-header">
                    <tr class="post-table">
                        <th>Complaint Id</th>
                        <th>User Name</th>
                        <th>Scammer Phone Number</th>
                        <th>Post Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<complaintResult.length; i++){ %>
                        <tr>
                            <td>
                                <%= complaintResult[i].complaint_id %>
                            </td>
                            <td>
                                <%= complaintResult[i].user_first_name + " " + complaintResult[i].user_last_name %>

                            </td>
                            <td>
                                <%= complaintResult[i].scammer_phone %>
                            </td>
                            <td>
                                <%= complaintResult[i].user_complaint_description.substring(0,100) %> <a target="_blank"
                                        href="/complaints/<%= complaintResult[i].complaint_id %>">...Read More</a>

                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src='script.js'></script> -->
    <script src="../../script/script.js"></script>

    <script>
        $(document).ready(function () {
        });
    </script>