<%- include("partials/header") -%>

    <div class="container">
        <div class="row">
            <div class="table-responsive card">
                <div class="card-header">
                    Scammer Alert
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="post"> <img src="/images/scam.png" alt=""></td>
                            <td>
                                <strong>Name:</strong>
                                <%= complaintResult.user_first_name + " " + complaintResult.user_last_name %>
                                    <br>
                                    <strong>Email:</strong>
                                    <%= complaintResult.user_email %>
                                        <br>
                                        <strong>Contact:</strong>
                                        <%= complaintResult.user_phone_number %>
                                            <br>
                                            <strong>City:</strong>
                                            <%= complaintResult.user_city %>
                                                <br>
                                                <strong>Pincode:</strong>
                                                <%= complaintResult.user_pincode %>
                                                <br>
                                                <strong>Scammer Phone:</strong>
                                                <span>
                                                    <%= complaintResult.scammer_phone %>
                                                </span>
                                            
                            </td>
                        </tr>
                        <tr>
                            <td class="card-body">
                                <h4>Complaint Description:</h4>
                                <p>
                                    <%= complaintResult.user_complaint_description %>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>